.header-secondary-bg{
    background-image: url(Assets/Hero-bg.png);
    background-size: 100%;
    height: 300px;
}

.banner-logo{
    color: #4E47FF;
    font-weight: bolder;
}

.banner-content{
    text-align: center;
    margin-top: 70px;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: black;
    font-size: 10px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.banner-title{
    display: flex;
    justify-content: space-between;
}

nav{
    padding: 15px;
}

nav ul li{
    list-style: none;
}

main{
    margin-left: 35px;
    margin-right: 35px;
}

.about{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.about-title{
    margin-bottom: 10px;
}
.about-subtitle{
    color: #757575;
    margin-bottom: 10px;
}
.section-pic{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.join{
    background-color: #8987a14a;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.join-items{
    display: flex;
    justify-content: space-evenly;
}

.user{
    padding: 20px 5px 5px 5px;
    background-color: #f2eded37;
}
.users{
    display: flex;
    justify-content: space-around;
}

.get-in-touch{
    display: flex;
    justify-content: space-between;
    padding: 43px;
}

.footer-section{
    text-align: center;
    margin: 50px 50px;
}

.footer-link{
    display: flex;
    gap: 20px;
    justify-content: center;
}

