
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main{
    background-color: #d9d9d929;
}

.header-secondary-bg{
    background-image: url(Assets/Hero-bg.png);
    background-size: 100%;
    height: 400px;
}

.banner-logo{
    color: #4E47FF;
    font-weight: 1000;
}

.banner-content{
    text-align: center;
    margin-top: 70px;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: black;
    font-size: 10px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.banner-title{
    display: flex;
    justify-content: space-between;
}

nav{
    padding: 150;
}
nav ul li{
    list-style: none;
}

.about{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.about-title{
    margin-bottom: 10px;
}
.about-subtitle{
    color: #757575;
    margin-bottom: 10px;
}

.banner-count{
    font-size: 3em;
    font-weight: bold;
}

.avatar{
    border-radius: 50%;
    max-width: 100%;
    height: 30px;
    padding-top: 10px;
    object-fit: cover;
}

.users-date{
    color: #7575759c;
}
.users-name{
    color: #757575;
}

.container{
    display: flex;
    align-items: center;
}

.section-pic{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.join{
    background-color: #4d47ff20;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.join-items{
    display: flex;
    justify-content: space-evenly;
}

.user{
    align-items: center;
    margin: 60px;
}
.users{
    display: flex;
    align-items: center;
    gap: 20px;
}

.users-item{
    background-color: #8987a11c;
    border-radius: 10px;
    justify-content: center;
    padding: 20px 5px 5px;
}

.users-title{
    margin-top: 5px;
    margin-bottom: 5px;
}
.users-subtitle{
    padding-top: 2px;
    font-size: small;
}

.users-name{
    padding-top: 0px;
}
.get-in-touch{
    display: flex;
    justify-content: space-between;
    padding: 43px 90px 40px 90px;
}

.form{
    font-size: small;
}

input{
    margin-bottom: 15px;
    
}

.footer-section{
    text-align: center;
    margin: 50px 50px;
}

.footer-link{
    display: flex;
    gap: 20px;
    justify-content: center;
}

